body{
    
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    
    
}
.logo{
    margin: 0;
    position: fixed;
    z-index: 600;
    top: 8px;
    left: 8px;
    display: none;
}
.container-max{
 /*  max-width: 1024px; */
    margin: auto auto; 
}

.encabezado, .contenido, .contenido_izquierda, .pie_de_pagina{
    box-sizing: border-box;
}
/* .container{
    margin: 0 20px;
    max-width: 1024px; */
    /* background-color: #edeef7; 
}*/
                     /* esto es el header */
.wraper_header{
    position: sticky;
    top:0;
    z-index: 200;
    
    
}
.encabezado{
    height: 100px;
    /* min-width: 10000px; */
    background-color: #172527;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
/* tipo de fuente:
familia de fuentes: 'Cinzel', serif; */
h1{
    font-family: 'Cinzel', serif;
    margin: 0;
}
.header_enlace{
    height: inherit;
    /* width: 400px; */
    display: flex;
    align-items: center;
}
nav{
    height: inherit;
}
ul{ 
    height: inherit;
    width: inherit;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0%;
    
}
ul .barra{
    display: flex;
}
li a{
    color: white;
    font-family: sans-serif;
    margin-left: 30px;
    text-decoration: none;
}


.header_enlace a {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.header_enlace a img{
    width: 50px;
    height: 50px;
    
}

.portada{
 /*    background-color: black; */
    height: 383px;
    margin: 0 10px;
    margin-top:7.6px ;
    /* display: flex; */
}
.portada .uno{
    width: 50%;
    float: left;
    height: 100%;
}
.portada .dos{
    width: 49.5%;
    height: 100%;
    float: right;
    margin-left: 0.5%;

}
/* es es para limpiar el float de las imagenes teal-#7868e6 */ .limpiar{ clear: both;}




.contenidos{
   margin: 7.6px 10px;
   /* max-width: 1224px; */
 
}


 .contenido_izquierda{
    /* background-color: teal; */
    width:19% ;
    height: 600px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 }   
 [class^="caja"]{
     box-sizing: border-box;
     height: 9.5%;
     width: 97%;
     background-color: teal;
     border: 1px solid black;
     border-radius: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     font-size: 1.2rem;
     text-align: center;

 }
.contenido{ 
    height: 900px;
    width: 80.5%;
    background-color: #edeef7;
    margin-left: 0.5%;
    float:right;
    margin-bottom: 7.6px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}
.contenido_video{
    display: flex;
    justify-content: space-evenly;
}
 [class^="video"]{
     /* box-sizing: border-box; */
     height:190px;
     width: 330px;
     /* background-color: wheat; */
     border: 1px solid black;

 }
 .container-youtube{
     height:100%;
     width: 100%;
     /* background-color: blue ; */
     /* padding-top: 56.25%; */
     position: relative;
 }

.youtube{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    

}
.contenido_video img{
    width: inherit;
    height: inherit;

}
.contenido_video .video{
    position: relative;
    width: 30%;
    /* height: auto; */
}
.contenido_video .titulo-lucha{
    position:absolute;
    z-index: 2;
    left: 30px;
    top: 150px;
    color: rgb(12, 15, 9);
    font-size: 30px;
    font-weight: 700;
    background-color: rgba(175, 172, 172, 0.63);
    border-radius: 5px;
}



.contenido_izquierda-2{
    height:292.5px ;
    width: 18%; 
    background-color: #f6dfeb;
    float: left;
    margin-top: 7.6px;
    margin-bottom: 7.6px;
    margin-left:12px ;
} 


                         /*   pie de pagina */



form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
form h2{
    text-align: center;
}

 form .google{
    width: 45px;
    height: 45px;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items: center; 
}
form div{
    display: flex;
    justify-content: center;
}
.aside-barra{
    width: 90%;
    padding: 0;
    margin: 0;
    
}
.pie_de_pagina{
    height: 200px;
    margin-top: 5.6px;
    background-color: black;
}
figure{
    width: 99%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
figure img{
    width: 100%;
}




@media screen and (max-width:480px){
    /* body{
        background-color: rgb(20, 18, 14);
    } */
  .encabezado{
      height: auto;
      display: block
      
  }
  h1{
    display: flex;
    
  }
  h1 img{
      width: 200px;
      margin: auto;
      
  }
 ul{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 li{
     display: flex;
     justify-content: center;
     width: 100%;

 }
 li .bara{
     margin-left: 20px|;
 }
 li  a{
     width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px 0px;
 }
 .header_enlace{
     display: flex;
     justify-content: center;
 }
 .portada{
    margin: 4px;
    height: auto;
 }
 .portada .uno{
    float: none;
    display: block;
    width: 100%;
    height: 150px
 }
.portada .dos{
    width: 100%;
    height: 150px;
    margin-top: 2px;
}
.contenidos{
    margin: 0px 0px;
    height: auto;
}
.contenido{
    float: none;
    margin: auto;
    height: auto;
    width: 97%;
    margin: 4px;
    
}
.contenido_video{
    display: block;
}
.contenido_video .video{
    width: 100%;
    margin: 2px;
}
.contenido_izquierda-2{
    float: none;
    margin: 0px 4px;
    width: 100%;

}
form{
    margin: auto;    
}
.contenido_izquierda{
    position: fixed;
    z-index: 700;
    top: 0;
    bottom: 0px;
    background: rgba(217, 218, 216, 0.747);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* position: fixed;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.438);
    top: 0;
    left: -100vw;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s; */
}

[class^="caja"]{
    width: 200px;
    height: 35px;
    
}
.logo{
    display: block;
}
